body{
	background: #CCC;
}
h1{
	text-align: center
}

/*.board { */
	/*border: 2px solid red;*/
/*}*/

.box {
	height: 100px;
	width:  100px;
	background: #EAAA29;
	border: 1px solid #ff2020;
	margin: 8px;
	border-radius: 20%;
	text-align: center;
	vertical-align: center;
	font-size: 28px;
}

.box:hover {
	background: #CE9116;
}

.box span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.selected, .selected:hover {
	background: #ff2020;
	/*transform: rotateY(180deg);*/
	/*transition: transform 0.5s;*/
	/*transform-style: preserve-3d;*/
}


.paired, .paired:hover {
	background: green;
}

.hide{
	display: none;
}